<h1>Welcome to My Travel Site</h1>

<p>This site is Nice!</p>

<p><%= @homestate %></p>

<ul>
<% @countries.each do |country| %>
	<li><%= country %></li>
<% end %>
</ul>


<% @pictures.each do |pic| %>
<p>
	<%= image_tag pic %>
</p>
<% end %>